// use responsive width < 768px
//resposive header
@media screen and (min-width: 576.9px) {
  // header
  header {
    #navbar {
      flex-direction: row;
      .navbar-brand.nav-link {
        padding: 0 !important;
        border-right: none;
      }
      .nav-item {
        a {
          padding: $pd-0 + 2 $pd-2;
          border-right: $border-1;
          font-size: $fs-1 - 0.4;
        }
      }
      #navbar-menu {
        border-top: $border-1;
      }
      #search-rp {
        color: $color-white;
        padding: $pd-1 * 2;
        font-size: $fs-1 - 0.6 !important;
        display: flex;
        align-items: center;
        justify-content: space-around;
        i {
          font-size: $fs-1;
          margin-right: auto;
        }
        input {
          width: 75%;
          padding: $pd-1 + 2 $pd-3;
          background-color: $color-grey;
          outline: none;
          border: none;
          margin-right: auto;
          color: $color-blue-200;
          border-radius: 5px;
          font-size: $fs-1 - 0.4;
        }
        .btn-search {
          padding: $pd-1 - 1 $pd-2;
          color: $color-white;
          font-size: $fs-1 - 0.6 !important;
          margin-right: $mg-2;
        }
      }
    }
    .discover-menu {
      width: 80%;
      ul {
        li {
          a {
            color: $color-blue-200 !important;
            border: none !important;
          }
        }
      }
      &::before {
        right: unset;
      }
      .dropdown-menu-detail {
        .dropdown-detail-right {
          padding-left: $pd-3 + $pd-1;
        }
      }
    }
    //vehicles-list
    #vehicles {
      font-size: $fs-1 - 0.6;
      top: 4rem;
      #vehicles-content {
        width: 90%;
        .vehicles-nav {
          padding: $pd-1 $pd-0;
          ul {
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            li {
              padding: $pd-2 0;
              text-align: center;
              a {
                font-size: $fs-1 - 0.4;
                padding: 0 0.3rem;
                border: none;
              }
            }
          }
        }
        #vehicles-list {
          padding: $pd-4;
          .vehicles-title {
            h1 {
              font-size: $fs-1 + 0.1;
              top: -2rem;
            }
          }
          .vehicles-product {
            h2 {
              font-size: $fs-1 + 0.4;
            }
            .vehicles-info {
              font-size: $fs-1;
              h3 {
                font-size: $fs-1 + 0.4;
              }
              p {
                font-size: $fs-1 - 0.2;
              }
            }
            .btn-vehicles {
              padding: $pd-1 $pd-2;
            }
            .btn-vehicles-active {
              padding: $pd-1 $pd-2;
            }
          }
        }
        #vehicles-close {
          width: 39px;
          padding: $pd-0 - 5 0;
          .vehicles-circle {
            width: 20px;
            height: 20px;
            line-height: 19px;
          }
          p {
            font-size: $fs-1 - 0.6;
          }
        }
      }
    }
  }
  // carousel

  #swiper-slider {
    margin-top: 51px;
    height: 700px;
    .swiper-button-explore {
      bottom: 20% !important;
    }
  }
  // our-vehicles-intro
  .intro {
    .intro-container {
      .intro-right {
        padding: 0 $pd-1;
      }
      .btn-build {
        font-size: $fs-1 - 0.2;
      }
    }
  }
}
@media screen and (min-width: 576.9px) and (max-width: 767.9px) {
  #our-vehicles {
    .carousel-indicators-config {
      display: flex;
      justify-content: space-around;
      width: 95% !important;
      margin: auto !important;
      li {
        font-size: $fs-1 - 0.4;
      }
    }
    .carousel-inner {
      .carousel-item {
        img {
          width: 100%;
        }
        .carousel-caption-config {
          width: 70% !important;
          text-align: left;
          top: 40%;
          left: 20%;
          font-size: 1rem;
          hr {
            margin-top: 0;
          }
          img {
            margin-bottom: $mg-1;
          }
          .carousel-details-content {
            h2 {
              font-size: $fs-2;
            }
          }
        }
      }
    }
  }
  // vehicle-function
  #vehicles-function {
    .vehicles-function-content {
      .function-item {
        margin: $mg-1 0;
        margin-top: $mg-2;
        p {
          font-size: $fs-1 - 0.3;
        }
        div {
          top: 40%;
          width: 100%;
        }
      }
    }
  }
}
