@mixin text-style($_fs, $_fw, $_cl) {
  font-size: $_fs;
  font-weight: $_fw;
  color: $_cl;
}
@mixin button($border-color, $bg, $text-color, $pd, $bg-hover, $cl-hover) {
  border: 2px solid $border-color;
  border-radius: 40px;
  color: $text-color;
  font-weight: bold;
  padding: $pd;
  font-size: $fs-1;
  background-color: $bg;
  cursor: pointer;
  &:hover {
    background: $bg-hover;
    color: $cl-hover;
  }
}
@mixin arrow($left , $right) {
  content : '';
  border-bottom: 15px solid $color-white;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  position: absolute;
  top: -15px;
  left: $left;
  right: $right;
}